<footer>
    <p>Developed by Gabriel Beltrão</p>
    <p>Copyright &copy 2022</p>
    <div>
        <a href="https://github.com/gcbeltrao"><img src="images/github-logo.png" alt="link github"></a>
        <a href="https://www.linkedin.com/in/gabriel-beltr%C3%A3o-8b7a0a240"><img src="images/linkedin-logo.png" alt="link linkedin"></a>
        <a href="https://www.instagram.com/gcbeltrao/"><img src="images/instagram-logo.png" alt="link instagram"></a>
    </div>
</footer>
<script>
    function clickMenu() {
        if(menu.style.display==="block"){
        menu.style.display="none";
        } else {
            menu.style.display="block";
        } 
    }
</script>
</body>
</html>