<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <div>
            <img src="images/gc-icon.png">
        </div>
        <span id="hamburguer-icon" class="material-symbols-outlined" onclick="clickMenu()">
            menu
            </span>
        <div id="itens">
            <a href="/"><img src="images/home-icon.png">Home</a>
            <a href="/About"><img src="images/about-icon.png">About</a>
            <a href="/Resume"><img src="images/resume-icon.png">Resume</a>
        </div>
    </nav>
    <div id="menu">
        <a href="/"><img src="images/home-icon.png">Home</a><br>
        <a href="/About"><img src="images/about-icon.png">About</a><br>
        <a href="/Resume"><img src="images/resume-icon.png">Resume</a><br>
    </div>