<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <div>
            <img src="images/gc-icon.png">
        </div>
        <img src="images/hamburguer-icon.jpg" id="hamburguer-icon" onclick="expandir()">
        <div id="itens">
            <a href="/"><img src="images/home-icon.png">Home</a>
            <a href="/About"><img src="images/about-icon.png">About</a>
            <a href="/Resume"><img src="images/resume-icon.png">Resume</a>
        </div>
    </nav>