<%- include("partials/header.ejs"); -%>

<main class="about">
    <h1><span style="color: #8a2be2">Let me introduce myself</span></h1>
        <div class="txt-container">
            <p>Hi, my name is Gabriel de Carvalho Beltrão Farias. I'm student of engineering, but I would like to be a full-stack developer. On my free time I enjoy playing video games, chess, studying and typing some code to get better at programming. I have dogs since I've been 3 years old, so I love dogs.</p>
        </div>
    <h1><span style="color: #8a2be2">My skills</span></h1>
    <section class="skill-container">
        
    </section>

</main>

<%-include("partials/footer.ejs"); -%>