<%- include("partials/header.ejs"); -%>
<div id="btn">
    <a href="pdf/curriculo.pdf">Download Resume</a>
</div>
<main class="resume">
    <section class="container1">
        <div>
            <h2>Contato:</h2>
            <p>gbcarvalhof@gmail.com</p><br>
            <a href="www.linkedin.com/in/gabriel- beltrão-8b7a0a240">www.linkedin.com/in/gabriel- beltrão-8b7a0a240 <span style="color:grey">(LinkedIn)</a>
            <a href="www.github.com/gcbeltrao">github.com/gcbeltrao <span style="color:grey">(Github)</span></a>
        </div>
    </section>
    <section class="container2">
        <div>
            <h1>Gabriel Beltrão</h1>
            <p>Desenvolvedor Front-end | Estudante de Engenharia </p>
            <p><span style="color:grey">Recife, Pernambuco, Brasil</span></p>

            <h3>Resumo</h3>
            <p>Estudante de engenharia e admirador da tecnologia.</p><br>
            <p>Comecei estudando engenharia civil, mas ao fim do curso me aproximei da área de tecnologia que me despertou um grande interesse. Então, comecei a estudar e aprender coisas novas em cursos, bootcamps e projetos para ter o aprendizado necessário almejando introduzir na área.</p><br>
            <p>Web Development:</p>
            <ul>
                <li>HTML 5</li>
                <li>CSS 3</li>
                <li>Javascript</li>
                <li>MySQL</li>
                <li>Node.js</li>
                <li>Express.js</li>
            </ul>

            <h3>Experiência</h3>
            <p>CREA-PE</p>
            <p>Estagiário</p>            
            <p>dezembro de 2021 - outubro de 2022 (11 meses)</p>

            <h3>Formação acadêmica</h3>
            <p>Universidade de Pernambuco</p>
            <p>Engenharia Civil · (janeiro de 2019 - dezembro de 2023)</p><br>
            <p>Udemy Alumni</p>
            <p>Curso, Desenvolvedor Full-Stack · (julho de 2022 - dezembro de 2022)</p><br>
            <p>Curso em Vídeo</p>
            <p>Curso, HTML5 e CSS3 · (julho de 2022 - julho de 2022)</p><br>
            <p>Curso em Vídeo</p>
            <p>Curso, Javascript · (setembro de 2022 - setembro de 2022)</p><br>
            <p>Curso em Vídeo</p>
            <p>Curso, MySQL · (outubro de 2022 - outubro de 2022)</p>
        </div>
    </section>
</main>



<%- include("partials/footer.ejs"); -%>